.section-title
   font-weight: 500
   font-size: 36px
   line-height: 140%
   letter-spacing: 0.75px
   color: $black

.title
   font-weight: 500
   font-size: 20px
   line-height: 140%
   letter-spacing: 0.75px
   color: $white
.text
   font-size: 18px
   line-height: 24px
   letter-spacing: 0.75px
   color: $textcolor
   &-header
      color: $black-text
.soc
   display: flex
   &__item
      margin-right: 10px
      margin-bottom: 6px

.search
   display: flex
   flex-direction: row-reverse
   padding: 0
   justify-content: flex-end
   &__input
      border: none
      background: transparent
      width: 85px
      padding: 0
      margin: 0
      &::placeholder
         line-height: 21px
         display: flex
         align-items: center
         letter-spacing: 0.15px
         color: $silver
         padding-left: 15px
   &__btn
      background: transparent
      border: none
      padding: 0
      margin: 0
.red
   color: red
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
   bottom: 3px
.swiper-pagination__product-standart,
.swiper-pagination__product-premium,
.swiper-premises__pagination
   display: none
.swiper-pagination-bullet-active
   background: #2D72EA !important

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
   margin: 0 5px

.swiper-pagination-bullet
   width: 10px
   height: 10px
   display: inline-block
   border-radius: 50%
   background: $concrete
   opacity: 1

@media only screen and (max-width : 1292px)
   .swiper-pagination__product-standart,
   .swiper-pagination__product-premium,
   .swiper-premises__pagination
      display: block
   .swiper-button-next.swiper-arrow-next,
   .swiper-button-prev.swiper-arrow-prev
      display: none

   .swiper-wrapper
      padding-bottom: 30px !important

@media only screen and (max-width : 971px)
   .section-title
      font-size: 20px !important
