.burger-menu
   display: none
   z-index: 10
   transition: all .15s linear
   &.active
      position: absolute
      top: -4px
      right: 0
      .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout &
         transform: translate3d(0,100%, 0) !important
         height: 100vh
      & .burger-menu__btn
         span
            opacity: 0
         &::before
            transform: rotate(45deg)
         &::after
            transform: rotate(-45deg)
         &::before,
         &::after
            top: 10px
   &__btn
      background: none
       //display: none
       //visibility: hidden
      //cursor: pointer
      //outline: none
      border: none
      position: absolute
      font-size: 0
      z-index: 5000
      color: transparent
      width: 30px
      height: 18px
      top: 49px
      right: 35px
      transform: translateY(-50%)
      &::after,
      &::before,
      span
         display: block
         width: 100%
         height: 2px
         background-color: #1E4EA0
         border-radius: 1px
         position: absolute
         left: 0
      &::after,
      &::before
         content: ""
         transition: transform .2.5s linear
      &::before
         top: 0
      &::after
         bottom: 0
      span
         top: 50%
         transform: translateY(-50%)
         height: 2px
         transform: opacity .2s linear

@media only screen and (max-width : 772px)
   .burger-menu
      display: block
