.installation
   &__heading
      margin-top: 30px
      margin-bottom: 33px
      font-size: 18px
      line-height: 140%
      letter-spacing: 0.75px
      color: $black
   &__top
      display: flex
      align-items: center
      margin-bottom: 20px
   &__number
      font-weight: 500
      font-size: 18px
      line-height: 36px
      letter-spacing: 0.75px
      color: $white-text
      width: 35px
      height: 35px
      text-align: center
      background: $downy
      border-radius: 4px
      display: inline-block
      margin-right: 15px
   &__title
      font-size: 18px
      line-height: 140%
      letter-spacing: 0.75px
      text-transform: uppercase
      color: $black-text
   &__text
      font-size: 18px
      line-height: 140%
      letter-spacing: 0.75px
      color: $black-text
   &__item
      margin-bottom: 30px
      &:last-child
         margin-bottom: 0
